#overview-header {
    color: rgb(53, 53, 53);
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
  }
  .overview-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overview-information-container {
    box-shadow: 0 0.063rem 0.313rem 0 rgba(0, 0, 0, 0.3);
    width: 45rem;
    top: 4.5rem;
    background-color: #e5e5e5;
    right: 0rem;
    height: 100%;
    margin-top: 2rem;
    padding: 1.25rem;
  }
  
  #shipping-header,
  #payment-header,
  #products-header {
    color: rgb(53, 53, 53);
    font-size: 1.875rem;
    font-weight: 500;
  }
  .payment-details-container,
  .product-details-container {
    margin-top: 2rem;
  }

  .added-orders-container {
    margin-top: 2rem;
    position: relative;
  }
  .added-orders-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.6875rem;
  }

 
  