.shipment-details-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #shipment-header {
    color: rgb(53, 53, 53);
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
  }
  .shipping-form-container {
    width: 37.5rem;
    margin-top: 4rem;
  }
  .submit-container {
    margin-top: 3rem;
    margin-left: 7.0625rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  label {
    color: rgb(53, 53, 53);
    font-weight: 600;
  }
  @media (max-width: 35.625rem) {
    .submit-container {
      margin-left: 0rem;
    }
    .shipping-form-container {
      padding: 4.0625rem;
    }
  }
  